{
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./src"],
        "alias": {
          "@app": "./src"
        }
      }
    ]
  ],
  "presets": ["next/babel", "@babel/typescript"]
}